
#contact{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 28px;
}
#contact label{
    display: flex;
    justify-content: center;
   
}
#name{
    background-color: rgba(188, 139, 229, 0.30);
    border-radius:4px ;
    border: solid 1px #333;
    opacity: 0.5;
}
#email{
    background-color: rgba(188, 139, 229, 0.30);
    border-radius:4px ;
    border: solid 1px #333;
    opacity: 0.5;
}
#contact textarea{
    width: 250px;
        height: 100px;
        background-color: rgba(188, 139, 229, 0.30);
        border-radius:4px ;
        border: solid 1px #333;
        opacity: 0.5;
  
    
}
#footer{
    display: flex;
    justify-content: flex-end;
padding-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(188, 139, 229, 0.85);
    color: white;
    text-align: center;
}


.btn{
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: rgba(188, 139, 229, 0.85);
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
 
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 1s ease-out;
  }
  .btn:hover{
    opacity: 0.5;
  }  