


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
}
.box{
    /* display: inline-block; */
    border: none;
    gap: 20px;
    box-shadow: 10px 10px;
    border-radius: 4px;
    background-color: rgba(188, 139, 229, 0.85);
  object-fit: contain;
  width: 550px;
  height: 500px;
  color:rgba(140, 111, 164, 0.85);
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
   
 
  }
