body{
  margin: 0;

  line-height: 1.4;
}
a{
  color: black;
}
.header{
 
  background-color:rgba(188, 139, 229, 0.85);
  box-shadow: 3px 3px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index:3;
 
}
.header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
 /* background-color: rgba(188, 139, 229, 0.85); */
}
.header ul a{
  display: block;
/* outline: 1px solid rebeccapurple; */
padding: 20px;
border-right: 1px solid #aaa;
text-decoration: none;
}

.header .logo{
  float: left;
  display: block;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
.header .menu {
  clear: both;
 max-height: 0;
  transition: max-height .2s ease-out;
}
.header .menu-icon{

  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;

}
/* hamburger menu */
.header .menu-icon .nav-icon{
  background:#333;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background .2s ease-out;
}
.header .menu-icon .nav-icon:before{
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: 5px;
}
.header .menu-icon .nav-icon:after{
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: -5px;
}
/* hides my check box  */
.header .menu-btn{
  display: none;
}

/* animation */
/* uses chilren of header in input w.menu abd changes to max height of set */
.header .menu-btn:checked ~ .menu{
  max-height: 240px;

}
/* this one will dissappear the bar in center  */
.header .menu-btn:checked ~ .menu-icon .nav-icon{
background: transparent;
}
/* rotates then top 0 meets in the center */
.header .menu-btn:checked ~ .menu-icon .nav-icon::before{
  transform: rotate(-45deg);
  top: 0;
  
}
/* hits the opposite & meet in the center at 0 as well */
.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
  transform: rotate(+45deg);
  top: 0;
}
/* desktop version menu move items side by side  */
@media (min-width:48em){
  .header li{
    float: left;
  }
  .header li a{
    padding: 20px 30px;
  }
   /* moves it to the right of the logo instead of under  */
  .header .menu{
    clear: none;
    float: right;
    max-height: none;
  } 
  /* gets rid of the x at this break point */
  .header .menu-icon{
    display: none;
  }
 *{
  margin: 0;
  padding: 0;
 }

}
body{
  flex: wrap;
  font-family: 'Amatic SC', cursive;
  font-size: 28px;

 background-image: url(./rings.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 height: 100vh;

@media (max-width: 600px) {
  body {
    background-color: lightblue;
 
  }
}

}
:root{
  --primary-color: rgba(148, 55, 198, 0.45);
  --overlay-color:rgba(188, 139, 229, 0.85);
}
.showcase{
top:90px;
position: relative;
padding: 10px;
text-align: center;
}

.showcase .row{
  flex-direction: row;
}

.me{
  display: flex;
  justify-content: center;
}
.me img{
  border: none;
  border-radius: 5px 5px 0 0;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
}


.socials {
  /* float: right; */
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  /* position: sticky; */
  margin: 4px auto 0 auto;
  padding: 10px;

}
.socials a{
gap:1rem ;
}
@media (max-width:48em){
  body{
      background: linear-gradient(135deg,#b45ed6, #d574b0 );
  }
}

.btn{
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: rgba(188, 139, 229, 0.85);

  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity 1s ease-out;
}
.btn:hover{
  opacity: 0.5;
}  








